OFFLINE_ONLY=true
USE_WEATHER_API=false
DEFAULT_LATITUDE=12.9716
DEFAULT_LONGITUDE=77.5946
WEATHER_TIMEOUT_SECONDS=6
WEATHER_CACHE_TTL_MINUTES=180
SMS_COOLDOWN_MINUTES=45
CRITICAL_MOISTURE_PERCENT=20
LOW_MOISTURE_PERCENT=35
HEATWAVE_TEMP_C=38
HEAVY_RAIN_MM=35
STRONG_WIND_KPH=45
HIGH_HUMIDITY_PERCENT=85
LOW_HUMIDITY_PERCENT=30

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
FARMER_PHONE_NUMBER=
